body {
	background: #eee;
	color: #333;
	margin: 0;
	padding: 0 0 50px 0;
	font: 14px 'Source Sans Pro', sans-serif;
}

header {
	background: #ccc;
	border-bottom: 1px solid #888;
	outline: 1px solid #fff;	
}

a {
	color: #0651AB;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #0651AB;
}

div.headerWrapper {
	width: 75%;
	height: 450px;
	margin: 0 auto;
	min-width: 600px;
	max-width: 1044px;
	position: relative;
	padding-top: 125px;
	box-sizing: border-box;
}

#videoWrapper {
	width: calc(0.6*926px);
	height: calc(0.6*578px);
	background: transparent url("img/mac.png") no-repeat;
	background-size: cover;
	position: absolute;
	top: 100px;
	right: 0;
}

video {
	position: absolute;
	width: calc(0.6*715px);
	top: calc(0.6*25px);
	left: calc(0.6*105px);
	display: block;
	background: #111;
	border-radius: 4px;
}

div.left {	
	width: 300px;
}

h1 {
	font-size: 27px;
	letter-spacing: -1.5px;
	margin: 0;
	padding: 20px 0 0px 0;
	width: 100%;
	color: #222;
}

img.logo {
	margin: 10px 0;
	display: block;
}

p.tagline {
	display: block;
	color: rgba(0,0,0,0.8);
	font-size: 18px;
}

a.download {
	box-sizing: border-box;
	text-align: center;
	margin: 25px 0;
	padding: 14px 30px;
	text-transform: uppercase;
	display: block;
	letter-spacing: -0.3px;
	font-size: 18px;
    background-image: linear-gradient(-180deg, rgba(73,155,234,1) 0,rgba(32,124,229,1) 100%);
    box-shadow: 0 7px 29px 0 rgba(73,155,234,0.4);
    margin-right: 10px;
    font-weight: bold;
    color: #fff;
    border-radius: 15px;
}

a.download strong {
	display: block;
	font-size: 16px;
}

p.soon {
	margin: 5px 0;
}

p.soon em {
	display: block;
	font-size: 12px;
	opacity: 0.8;
}



p {
	font-size: 14px;
	margin: 0 0 14px 0;
}

h2 {
	font-weight: normal;
	padding: 0 10px;
}

article {
}

#features {
	margin-right: -2%;
	width: 75%;
	margin: 40px auto;
	overflow: hidden;
	font-size: 14px;
	text-align: left;
}

.feature {
	float: left;
	width: 30%;
	margin-right: 3%;
	height: 200px;
	overflow: hidden;
	box-sizing: border-box;
	padding-left: 58px;
	position: relative;
}

.feature h2 {
	padding: 0;
	margin: 0 0 5px 0;
}

.feature img {
	position: absolute;
	top: 5px;
	left: 0;
}

article div {
	float: left;
	width: 45%;
}

article div:nth-child(2) {
	float: right;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #ccc;
}

tr {
	border-bottom: 1px solid #ccc;
}

th, td {
	padding: 5px;
}

th {
	font-weight: normal;
	width: 40%;
	padding-right: 15px;
}

td {
	color: #888;
}

td code {
	color: #000;
	font-family: Courier, monospace;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 2px 4px;
}

.policy p {
	text-align: left;
}


.center {
	text-align: center;
}